body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    }

a {
    text-decoration: none;
    }

a img,
img {
    border: 0;
    outline: 0;
    }
